# Question 72 - Shoe prices

Suppose you are given a SQL table containing the brands of shoes (field name: brand) as well as the shoe price (field name: price). The database is called shoe_info. You are tasked with updating the prices in this database for a few brands of shoes. Specifically, you have been asked to update all Nike shoe prices to \$100, and all Adidas shoe prices to \$85. Using SQL, write a query to perform this action.

```sql

update shoe_info
set price = 100
where lower(brand) = 'nike'
;

update shoe_info
set price = 85
where lower(brand) = 'adidas'
;

```