# Question 79 - Channel attribution

Suppose youâ€™re working at a company similar to Airbnb, and the marketing team has come to you to help them figure out which channels (excluding direct) are best for them to focus on. You are given a data set, which can be found [here](https://docs.google.com/spreadsheets/d/1uNa9tpo8AEeJ9va_PU5AoIj430Iu4VFkML6twCyYy2A/edit#gid=166651861).

Below are the column descriptions for the data set.

```
column 	description
id 	unique user identifier
date_account_created 	the date of account creation
gender 	user's gender
age 	user's age
signup_method 	how the user initially signed up
language 	user's language preference
affiliate_channel 	type of paid marketing that is attributed to user sign up
affiliate_provider 	provider of the paid "affiliate channel"
signup_app 	application that user signed up on
first_device_type 	first device user signed up with
first_browser 	first browswer user signed up with
```

Using the data set above, can you help them make a recommendation to the team re: the most effective marketing channels?

In [1]:
import pandas as pd

df = pd.read_csv('q079_data.csv')
df.head()

,id,date_account_created,gender,age,signup_method,language,affiliate_channel,affiliate_provider,signup_app,first_device_type,first_browser
0,szx28ujmhf,2014-07-01,FEMALE,28.0,basic,en,sem-brand,google,Web,Windows Desktop,Chrome
1,rddbczuxx1,2014-07-01,FEMALE,53.0,basic,en,sem-brand,google,Web,Mac Desktop,Safari
2,n10skstp90,2014-07-01,FEMALE,25.0,basic,en,sem-brand,google,Web,Mac Desktop,Chrome
3,5jrbdigmv4,2014-07-01,-unknown-,NaN,basic,en,sem-brand,bing,Web,Windows Desktop,IE
4,y0frb6t1kq,2014-07-01,-unknown-,NaN,basic,en,sem-brand,google,Web,iPad,Mobile Safari

In [2]:
df.describe(include='all')

,id,date_account_created,gender,age,signup_method,language,affiliate_channel,affiliate_provider,signup_app,first_device_type,first_browser
count,10394,10394,10394,6134.000000,10394,10394,10394,10394,10394,10394,10394
unique,10394,92,4,NaN,3,18,1,5,4,9,18
top,jsbnm7cngc,2014-07-22,-unknown-,NaN,basic,en,sem-brand,google,Web,Mac Desktop,Chrome
freq,1,164,5342,NaN,8294,10055,10394,9204,9979,4768,3829
mean,NaN,NaN,NaN,37.918976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,28.447344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,34.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1951.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.groupby(['affiliate_channel','affiliate_provider']).agg({'id':pd.Series.nunique})

                                        id
affiliate_channel affiliate_provider
sem-brand         baidu                  1
                  bing                1154
                  daum                   1
                  google              9204
                  other                 34

Google is the biggest affiliate provider, driving 90% of signups. 
**At first glance, we should focus on Google.**

In [4]:
df.groupby(['affiliate_provider','signup_method']).agg({'id':pd.Series.nunique})

                                    id
affiliate_provider signup_method
baidu              basic             1
bing               basic           925
                   facebook        225
                   google            4
daum               basic             1
google             basic          7334
                   facebook       1856
                   google           14
other              basic            33
                   facebook          1

Facebook drives 20% of signups, we could focus on this more and grow it.

Or we could focus on bringing other signup methods to users (eg phone number).