In [1]:
# Employee survey results

# You're consulting for a company, and you've sent out a survey that asks successive qustions randomly. 
# The survey logs data into a table called survey_logging. The schema of the table is:
# Column Name 	Data Type 	Description
# employee_id 	integer 	employee id of the survey respondant
# action 	string 	Will be one of the following values, 'view', 'answer', 'skip'
# question_id 	integer 	ID of the question asked
# answer_id 	integer 	ID of the answer asked
# timestamp 	integer 	time stamp of the action made by respondant

# Question: Using SQL, find which question has the highest response rate.
"""
select
  question_id,
  count(distinct case when action='answer' then employee_id else null end)
    ::float / count(distinct employee_id) as response_rate
from survey_logging s
group by 1
order by 2 desc
limit 1
"""

import pandas as pd


# mock up data
s = """eid,action,qid
1,view,1
1,answer,1
1,view,2
1,skip,2
2,view,1
2,answer,1
2,view,2
2,answer,2
3,view,1
3,skip,1
3,view,2
3,answer,2
4,view,1
4,skip,1
4,view,2
4,answer,2
"""
df = pd.read_csv(pd.compat.StringIO(s))
df.head()

   eid  action  qid
0    1    view    1
1    1  answer    1
2    1    view    2
3    1    skip    2
4    2    view    1

In [2]:
(
    df[df['action']=='answer']
    .groupby('qid').agg({'eid':'nunique'})
    .div(
        df.groupby('qid').agg({'eid':'nunique'}),
        level='qid'
    )
    .reset_index()
    .rename(columns={'eid':'response_rate'})
    .sort_values('response_rate',ascending=False)
    .iloc[0] # first row
)

qid              2.00
response_rate    0.75
Name: 1, dtype: float64