# Question 25 - Application feedback

Your team at Apple released a new feature that collects feedback 
when an app launches. As part of the Alpha Launch for testing, the 
feedback consists of 1 question within a dialog box that asks 
"Would you like to give {App Name} your credit card number?",
with potential answers being "Yes" and "No".

This data is logged within a table named 'dialogbox_feedback' 
with the following schema:

Table: dialogbox_feedback

|Column Name |Data Type |Description|
|---|---|---|
|time |integer |epoch time of response|
|user_id |integer |unique id of user|
|app_id |integer |unique id of application|
|app_name |string |name of application|
|event |string |"impressed" when dialog box seen, "click_yes" when yes button clicked. No logging when user clicks "No".|


Question: A Product Manager asked you to give an update on how the Alpha Launch 
is going. You decide to aggregate (e.g. pivot) the events by each app to 
provide a quick summary. Write the aggregation using Python (Pandas).

In [7]:
import pandas as pd

df = pd.DataFrame({
    "time": [1555548916, 1555556916, 1555558916], 
    "user_id": [132456,456789,789123],
    "app_id": [1,1,2],
    "event": ['impressed','click_yes','impressed']
})

df.groupby(['app_id','event']).agg({'user_id':'nunique'}).rename({'user_id':'uniques'}, axis='columns')

                  uniques
app_id event
1      click_yes        1
       impressed        1
2      impressed        1