# Question 39 - Normalizing student grades with Pandas

You are given a dataframe containing student information, named df (shown below). Suppose you want to normalize each student's grade based on their age.
```Age 	Favorite Color 	Grade 	Name
20 	blue 	88 	Willard Morris
19 	blue 	95 	Al Jennings
22 	yellow 	92 	Omar Mullins
21 	green 	70 	Spencer McDaniel
```

Write a function using Python Pandas that will add a new column to your dataframe containing a new grade normalized against the mean age of the students.

In [1]:
import pandas as pd

df = pd.DataFrame(
    {'age':[20,19,22,21], 
     'color':['blue','blue','yellow','green'],
     'grade':[88,95,92,70],
    'name':['will','al','omar','spencer']
    }
)
df

   age   color  grade     name
0   20    blue     88     will
1   19    blue     95       al
2   22  yellow     92     omar
3   21   green     70  spencer

In [2]:
df['gnorm'] = df['grade'] / df['grade'].mean()
df

   age   color  grade     name     gnorm
0   20    blue     88     will  1.020290
1   19    blue     95       al  1.101449
2   22  yellow     92     omar  1.066667
3   21   green     70  spencer  0.811594