# Question 55 - Categorizing foods

You are given the following dataframe and are asked to cateogrize each food into 1 of 3 categories: meat, fruit, or other.
```
    food 	pounds
0 	bacon 	4.0
1 	STRAWBERRIES 	3.5
2 	Bacon 	7.0
3 	STRAWBERRIES 	3.0
4 	BACON 	6.0
5 	strawberries 	9.0
6 	Strawberries 	1.0
7 	pecans 	3.0
```

Can you add a new column containing the foods' categories to this dataframe using python?

In [1]:
import pandas as pd
df = pd.DataFrame({'food':['bacon','STRAWBERRIES','pecans','strawberries'], 'pounds':[1.0,1.2,5.3,4.9]})

food_dict = {
    'strawberries': 'fruit',
    'pecans': 'fruit',
    'bacon': 'meat'
}
        
df['category'] = df.apply(lambda row: food_dict.get(row['food'].lower(), 'other'), axis=1)
df

           food  pounds category
0         bacon     1.0     meat
1  STRAWBERRIES     1.2    fruit
2        pecans     5.3    fruit
3  strawberries     4.9    fruit