# Question 67 - Drop rows in dataframe that are between two dates

Given the following dataframe, df, drop all the rows where the contract_sign_date is between 2018-09-01 and 2018-10-13 (inclusive):

df:
```
	vendor_id 	name 	contract_sign_date 	total_spend
0 	1 	vendor_schmendor 	2018-09-01 	34324
1 	2 	parts_r_us 	2018-09-03 	23455
2 	3 	vendor_king 	2018-10-11 	77654
3 	4 	vendor_diagram 	2018-08-21 	23334
4 	5 	venny 	2018-08-13 	94843
5 	6 	vendtriloquist 	2018-10-29 	23444
```
Solution will be written using Python (Pandas).

In [1]:
import pandas as pd
df = pd.DataFrame({
    'vendor_id':[1,2,3,4],
    'name':['a','b','c','d'],
    'contract_sign_date':['2018-09-01','2018-09-03','2018-10-11','2018-08-21'],
    'total_spend':[123,456,789,123]
})
df.head()

   vendor_id name contract_sign_date  total_spend
0          1    a         2018-09-01          123
1          2    b         2018-09-03          456
2          3    c         2018-10-11          789
3          4    d         2018-08-21          123

In [4]:
# drop all rows happening in september
df.drop(
    df[
        (df['contract_sign_date'] >= '2018-09-01') 
        & (df['contract_sign_date'] < '2018-10-01')
    ].index
)

   vendor_id name contract_sign_date  total_spend
2          3    c         2018-10-11          789
3          4    d         2018-08-21          123