# Question 75 - Retail revenue trends

Given the table below, called 'orders', write code to show the average revenue by month by channel. The format of the result should look like the following:

```
Month | Channel | Avg. Revenue

Table: orders
	order_id 	channel 	date 	month 	revenue
0 	1 	Online 	2018-09-01 	09 	100
1 	2 	Online 	2018-09-03 	09 	125
2 	3 	In_store 	2018-10-11 	10 	200
3 	4 	In_store 	2018-08-21 	08 	80
4 	5 	Online 	2018-08-13 	08 	200
5 	6 	Online 	2018-10-29 	10 	100
```

In [4]:
import pandas as pd

df = pd.DataFrame({
    'order_id':[1,2,3,4,5,6], 
    'channel':['online','online','in_store','in_store','online','online'],
    'date':['2018-09-01','2018-09-03','2018-10-11','2018-08-21','2018-08-13','2018-10-29'],
    'revenue':[100,125,200,80,200,100]
})

df['month'] = df['date'].str.split('-').str[1]
df.groupby(['month','channel']).agg({'revenue':sum})

                revenue
month channel
08    in_store       80
      online        200
09    online        225
10    in_store      200
      online        100