# Question 91 - Replacing bad data with Pandas

Suppose you are given a dataframe, df, that contains various negative values. In the context of your work, negative values can be considered 'bad data'. Write a function in Python (using Pandas) that replaces these bad values with the group mean.

Solution will be written in Python for premium users.

In [1]:
import pandas as pd


df = pd.DataFrame(
    {
        'age':[19,21,20,22,-1], 
        'grp':['a','a','b','b','b']
    }
)
df

   age grp
0   19   a
1   21   a
2   20   b
3   22   b
4   -1   b

In [2]:
# compute group means, excluding negatives
grp_means = df[df['age']>=0].groupby('grp').agg({'age':'mean'}).rename({'age':'avg_age'},axis='columns')
# join group means to df
ddf = pd.merge(df, grp_means, on='grp')
ddf['age_clean'] = ddf['age'].where(ddf['age']>=0, ddf['avg_age'])
ddf

   age grp  avg_age  age_clean
0   19   a       20         19
1   21   a       20         21
2   20   b       21         20
3   22   b       21         22
4   -1   b       21         21