# Question 92 - SQL patterns

Suppose you're given the following table, called 'employees':
```
name 		job_role
John 		Analyst
Harry 		Administrative Business Partner
Sam 		Software Engineer
Tina 		Analyst
```

To test your SQL skills, create a query that returns the name and job_role of each individual who has either a name that contains the letter 'a' or a job role that ends in the letters 'er'.

```sql
select 
    name,
    job_role
from employees 
where right(job_role,2) = 'er'
  and name like '%a%'

```