# Question 123 - Normalizing student grades with Pandas, revisited
Data Analysis Python Pandas Data Manipulation Normalization

You are given a dataframe containing student information, named df (shown below). Suppose you want to normalize each student's grade based on the group's median age.
```
Age 	Favorite Color 	Grade 	Name
20 	blue 	88 	Willard Morris
19 	blue 	95 	Al Jennings
22 	yellow 	92 	Omar Mullins
21 	green 	70 	Spencer McDaniel
```

Write a function using Python Pandas that will add a new column to your dataframe containing a new grade normalized against the median age of the students.

(see also question 39)

In [1]:
import pandas as pd

df = pd.DataFrame(
    {'age':[20,19,22,21], 
     'color':['blue','blue','yellow','green'],
     'grade':[88,95,92,70],
    'name':['will','al','omar','spencer']
    }
)
df

   age   color  grade     name
0   20    blue     88     will
1   19    blue     95       al
2   22  yellow     92     omar
3   21   green     70  spencer

In [2]:
df['gnorm1'] = (df['grade'] - df['grade'].median()) / df['grade'].std()
df['gnorm2'] = df['grade'] / df['grade'].median()
df

   age   color  grade     name    gnorm1    gnorm2
0   20    blue     88     will -0.178469  0.977778
1   19    blue     95       al  0.446174  1.055556
2   22  yellow     92     omar  0.178469  1.022222
3   21   green     70  spencer -1.784695  0.777778