# Animal classification with python
Data Analysis Python Pandas Data Manipulation

Given the following dataframe, write code to list the size of the each animal with the highest weight.
```
	adult 	animal 	size 	weight
0 	False 	cat 	M 	8
1 	True 	dog 	M 	10
2 	False 	cat 	M 	11
3 	False 	fish 	S 	1
4 	True 	dog 	L 	20
5 	True 	cat 	M 	12
6 	True 	cat 	M 	12
```

Format of output should be:
```
Animal | Size
____________

Cat | ?

Dog | ?

Fish | ?
```

Solution will be written in python for premium users.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'animal':['cat','dog','fish','cat','dog'], 
    'weight':[123,456,789,234,567]
})

df.groupby('animal').agg({'weight':max})

        weight
animal
cat        234
dog        567
fish       789