# Filtering strings in Pandas dataframes
Data Analysis Python Pandas Data Manipulation

Given the following dataframe, write code using Python (Pandas) to return the rows that contain the string 'J' in the name column (to practice searching string contains).

Next, write code to return all rows where favorite_color does not contain the string 'r'.
```
Age 	Favorite Color 	Grade 	Name
20 	blue 	88 	Willard Morris
19 	blue 	95 	Al Jennings
22 	yellow 	92 	Omar Mullins
21 	green 	70 	Spencer McDaniel
```

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'age':[20,19,22,21],
        'color':['b','b','y','g'],
        'grade':[88,95,92,70],
        'name':['will','al','omar','spencer']
    }
)

df[df['name'].str.contains('a')]

   age color  grade  name
1   19     b     95    al
2   22     y     92  omar

In [2]:
df[~ df['color'].str.contains('b')]

   age color  grade     name
2   22     y     92     omar
3   21     g     70  spencer